# About Me
# This file is filled in during HELM onboarding. Edit anytime via @HELM set preference.
AGENT_NAME={{AGENT_NAME}}
USER_PREFERRED_NAME={{USER_PREFERRED_NAME}}
GOOGLE_EMAIL={{USER_EMAIL}}
TIMEZONE={{TIMEZONE}}
DISCORD_SERVER_ID={{DISCORD_SERVER_ID}}

OCCUPATION=
WORKING_HOURS=
WHAT_I_CARE_ABOUT=
WHAT_FRUSTRATES_ME=
TOOLS_I_USE_DAILY=Discord (primary HELM interface)
TECH_LEVEL=
